:root {
  --white: #fff;
  --black: #000;
  --primary: #091921;
  --secondary: #ff8900;
  --dark-gray: #767676;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.clock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 25vw;
  border: 4px solid var(--primary);
  border-radius: 50%;
  box-shadow: 0px -16px 16px rgba(255, 255, 255, 0.05),
    inset 0px -16px 16px rgba(255, 255, 255, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.3), inset 0px 16px 16px rgba(0, 0, 0, 0.3);
  background-image: url("../img/clock.png");
  background-size: cover;
}

.clock::before {
  content: "";
  position: absolute;
  z-index: 9;
  height: 3.5%;
  width: 3.5%;
  background-color: var(--dark-gray);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
}

.clock__hand {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform-origin: 0;
  transform: rotate(-90deg);
  border-radius: 0 6px 6px 0;
}

.clock__hand--second {
  z-index: 1;
  width: 30%;
  height: 1.5%;
  background-color: var(--secondary);
}

.clock__hand--minute {
  z-index: 2;
  width: 25%;
  height: 1.7%;
  background-color: var(--white);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.clock__hand--hour {
  z-index: 3;
  width: 20%;
  height: 2%;
  background-color: var(--white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .clock {
    width: 60vw;
    height: 60vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .clock {
    width: 50vw;
    height: 50vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .clock {
    width: 25vw;
    height: 25vw;
  }
}
